<%content_for :head do %>
<title>Lost Blanket Report</title>
<%end%>

<%content_for :body do %>
<div class="row">
<h1>I Found Someone's Blanket, What Do I Do Now?</h1>

	<p>First, pat yourself on the back for being a kind and generous soul. The world needs more people like you. </p>
	<p>Next, click <a data-toggle="modal" href="#myModal">here</a> to generate a mailing label. Take it and the blanket to the post office, grab a medium flat rate box, put the blanket on the inside and the the label on the outside. Drop in it the mailbox and you're done! We'll make sure it gets back to its rightful owner.</p>
	<p>If you want to give us a heads-up, you can submit the form below, and we'll let the owners know their lost blanket has been found.</p>
	<%= simple_form_for @contact_form, :url => '/contacts' do |f|%>
	<%= f.input :blanketid, :label =>"Blanket ID#: " %><br>
	<%= f.input :name, :label =>"Your Name: " %>
	<%= f.input :info, :label =>"Contact Info (if you want to be contacted): " %>
	<%= f.input :comment, :label =>"Any Comments or Questions? "%>
	<%= f.button :submit, "Send Report" %>
<%end%>
</div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Return Address for Return Label</h4>
      </div>
      <div class="modal-body">
        <%= form_tag("/returnlabel", target: "_blank") do %>
        <div class="form-group">
	  		<%= label_tag(:name) %>
	  		<%= text_field_tag(:name, nil, :required =>true) %>
	  	</div>
	  	<div class="form-group">
	  		<%= label_tag(:street1) %>
	  		<%= text_field_tag(:street1, nil, :required =>true) %>
	  	</div>
	  	<div class="form-group">
	  		<%= label_tag(:street2) %>
	  		<%= text_field_tag(:street2) %>
	  	</div>
	  	<div class="form-group">
	  		<%= label_tag(:city) %>
	  		<%= text_field_tag(:city, nil, :required =>true) %>
	  	</div>
	  	<div class="form-group">
	  		<%= label_tag(:state) %>
	  		<%= text_field_tag(:state, nil, :required =>true) %>
	  	</div>
	  	<div class="form-group">
	  		<%= label_tag(:zip) %>
	  		<%= text_field_tag(:zip, nil, :required =>true) %>
	  	</div>
	 		<%= submit_tag("Generate Label!") %>
		<% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%end%>